.app {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: row;
}

.form label {
  font-size: 11px;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  color: #000000f0;
}

.preview {
  /* border-radius: 16px; */
}

.size-label {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: 400;
  line-height: 16px;
  padding: 0 4px;
  border-radius: 4px;
  position: absolute;
  z-index: 5;
  bottom: 8px;
  left: 8px;
  font-size: 11px;
}

.divider {
  display: block;
  margin: 16px -20px;
  border-bottom: 1px solid #e6e6e6;
}

/* .preview-svg {
  margin: 16px 0 16px 16px;
  border-radius: 16px;
} */

.form {
  display: flex;
  flex-flow: column;
  width: 260px;
  height: 600px;
  border-left: 1px solid #e6e6e6;
}

.fields {
  padding: 20px 20px 24px;
  height: 600px;
  overflow: scroll;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  border-top: 1px solid #e6e6e6;
  gap: 8px;
}

.mantine-Button-root {
  height: 32px;
  border-radius: 6px;
  background-color: #0d99ff;
  overflow: visible;
  line-height: 32px;
  font-size: 11px;
  font-weight: 500;
}

.secondary-button {
  border: none;
  background-color: transparent;
  color: #000000e5;
}

.secondary-button:hover {
  background-color: transparent;
  color: #000;
}

.counter-wrapper {
  display: flex;
  flex-flow: row;
  margin-bottom: 16px;
  gap: 20px;
}

.mantine-Textarea-root {
  margin-bottom: 16px;
}

.mantine-InputWrapper-label {
  font-size: 11px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 18px;
  color: #000000f0;
}

.value-span {
  margin-left: 4px;
  color: #000000e5;
}

.unit-span {
  color: #000000e5;
  margin-left: -2px;
}

.mantine-Input-root {
  border-color: #e6e6e6;
}

.mantine-ColorInput-root {
  margin-bottom: 16px;
  font-size: 13px;
}

.mantine-ColorInput-input {
  text-transform: uppercase;
}

.mantine-Input-input {
  font-size: 13px;
}

.mantine-NumberInput-root {
  border-color: #e6e6e6;
}

.mantine-Select-root {
  margin-bottom: 16px;
  border-color: #e6e6e6;
}

.mantine-Select-option {
  font-family: 'Inter';
  height: 32px;
  padding: 0 16px;
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  border-radius: 0;
}

.mantine-Popover-dropdown {
  padding: 8px 0 8px;
  border-radius: 5px;
  background-color: #121212;
  font-size: 11px;
  box-shadow: 0 8px 11px rgba(0, 0, 0, 0.11);
}

.mantine-Select-option:hover {
  background-color: #0d99ff;
}


.mantine-Select-option[aria-selected="false"] {
  color: rgba(255, 255, 255, 1);
}

.mantine-Slider-root {
  margin-bottom: 16px;
}

.mantine-Slider-bar {
  background-color: #1d1d1d;
}

.mantine-Slider-thumb {
  background-color: #fff;
  border-color: #1d1d1d;
}

.mantine-Checkbox-root {
  margin-bottom: 8px;
  border-color: #e6e6e6;
}

.mantine-Checkbox-input:checked {
  background-color: #0d99ff;
  border-color: #0d99ff;
}

.slider-disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Css Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}